
*{
  box-sizing: border-box;
  
}
#padre{
  
  font-family: "roboto", sans-serif;
  background: #efe9f4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;  
}
.main{
  font-family: "roboto", sans-serif;
  background: rgb(232, 187, 175);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h2 {
  color: red;
  background-color: #efe9f4;
  padding: 10px 10px;
  margin: 10px;
  border: 3px solid rgba(0, 0, 0, 0.572);
  border-radius: 15px;
}
.formulario{

  gap: 20px;
  background-color: aliceblue;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0,0,0,35);
  position: relative;
  overflow: hidden;
  width: 666px;
  max-width: 100%;
  min-height: 480px;
  padding-bottom: 30px;
  
}
.formulari_grupo{
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.formulario_label{
  background-color: azure;
  border: none;
  margin: 8px 0;
  padding: 3px 15px;
  font-size: 20px;
  border-radius: 12px;
  font-weight: 700;
 
}
.formulario_grupo_input{
  
  position: relative;
  width: 80%;
}
.formulario_input{
  width: 100%;
  background: #fff;
  border: 3px solid rgba(0, 0, 0, 0.486);
  border-radius: 15px;
  height: 45px;
  line-height: 0px;
  padding: 0 40px 0 10px;
  font-size: 20px;
  transition: 2s ease all;
}
.formulario_input:focus{
  border: 3px solid black;
  outline: none;    
}
.error_input{
  font-size: 12px;
  margin-bottom: 0;
  display: none;
}
.error_input-activo{
  display: block;
}
.formulario_validacion_grupo{
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
}
.formulario_msj{
  height: 45px;
  line-height: 45px;
  background: red;
  padding: 0 15px;
  border-radius: 10px;
  display: none;
}
.formulario_msj p{
  margin: 0;
}

.formulario_enviar{
  display: flex;
  flex-direction: column;
   align-items: center;
}
.formulario_btn{
  height: 45px;
  line-height: 45px;
  width: 30%;
  background: #111010;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: .1s ease all ;
  font-size: 15px;
}
.formulario_exito{
  font-size: 20px;
  color: #119200;
  font-weight: bold;
  display: none;
}
.formulario_exito-activo{
  display: block;
}

.formulari_grupo-correcto .formulario_validacion_grupo-estado{
  color: #119200;
  opacity: 1;
}
.formulari_grupo_incorrecto .formulario_label{
  color: #bb2929;
}
.formulari_grupo_incorrect .formulario_validacion_grupo-estado{
  color: #bb2929;
  opacity: 1;
}
.formulari_grupo_incorrect .formulario_input{
  border: 3px solid #bb2929;
}
.reason{
  font-size: 20px;
}