h2 {
  color: red;
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
}

.noticiasContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}

.noticiaContainer {
  padding: 2rem;
}

.noticiaContainer:hover {
  transform: scale(1.1);
}

.noticiaDetalle {
  background-color: red;
}
