.noticiasContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  margin: 2rem;
}

.noticiaContainer {
  padding: 2rem;
}

.noticiaContainer:hover {
  transform: scale(1.1);
}

.noticiaDetalle {
  background-color: red;
}

@media (max-width: 768px) {
  .noticiasContainer {
    justify-content: center;
  }
}
